<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/app.css">
</head>
<body>
  <div class="container">

    <form class="col-sm-6 col-sm-offset-3 form-inline">
      <div class="form-group col-sm-12">
        <input type="text" id="search" class="form-control">
        <button type="submit" id="submit-search" class="btn btn-default">Search</button>
      </div>
    </form>

    <ul id="songs" class="col-sm-6 col-sm-offset-3">

    </ul>

  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/app.js"></script>
</body>
</html>
